.input {
    border: 1px solid #d1d5db;
    border-radius: 5px;
    padding-left: 24px;
    outline: none;
    height: 40px;
    background: white;
}

.input:focus,
.select:focus {
    box-shadow: 0 0 0 3px rgba(16, 185, 129, .188);
}

.input::placeholder {
    color: #B0B0B0;
    font-size: 16px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 4px;
}


.select {
    border: 1px solid #d1d5db;
    border-radius: 5px;
    padding-left: 16px;
    height: 40px;
    outline: none;
    background: white;

}

select.select {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;

}

.select:disabled {
    color: #8C8787;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select::placeholder {
    color: #8C8787;
    font-size: 13px;
    font-style: italic;
}


.triangle_down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #8799A5;
    font-size: 0;
    line-height: 0;
    float: left;
}

.triangle_up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #8799A5;
    font-size: 0;
    line-height: 0;
    float: left;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.no-arrows {
    background-image: linear-gradient(to bottom, #fff 50%, #fff 50%), linear-gradient(to bottom, #eee, #eee);
    background-position: center bottom, center calc(100% - 1px);
    background-size: 100% 1px, 100% 1px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

@media screen and (max-width: 1439px) {
    .input {
        height: 40px;
        padding-left: 12px;
    }
}

@media screen and (max-width: 767px) {
    /* .input[type="date"] {
            font-size: 12px;
        } */

    .select {
        padding-left: 12px;
    }
}