.table-head-wrapper {
    background: #f9f9f9;
    padding: 22px 30px;
}

th {
    height: 100px;
    text-align: left;
}

td {
    height: 105px;
}

@media screen and (max-width:767px) {
    th {
        min-width: 100px;
    }
}